@import '~assets/scss/colors.scss';

$PLAYER_FORM_WIDTH: 300px;
$BORDER_RADIUS: 4px;
$TITLE_FONT_SIZE: 24px;

.player-form-parent-container {
    width: $PLAYER_FORM_WIDTH;
    border: 3px solid $GENERAL_BACKGROUND;
    border-radius: $BORDER_RADIUS;
    padding: 5px;

    .label {
        font-size: $TITLE_FONT_SIZE;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        display: flex;
        flex-direction: column;
    }

    .input {
        height: 15px;
    }

    .submit-button {
        margin-top: 5px;
        height: 24px;
        width: fit-content;
        border: none;
        background-color: $GENERAL_BACKGROUND;
        border-radius: $BORDER_RADIUS;
        color: white;
    }
}
